body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../../Dashboard/images/uas.png);
  background-size: cover;
  position: relative;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
  text-align: center;
  color: #333;
}

.ticket {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ticket-info {
  font-weight: bold;
  margin-bottom: 10px;
}

.ticket-info span {
  font-weight: normal;
}

/* Estilos para los botones */
.boton {
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: #fff;
  background-color: #100733;
}

/* Estilo para el primer botón */
.boton.boton1 {
  color: #fff; /* Color del texto */
  background-color: #100733; /* Color de fondo azul oscuro */
  margin-right: 10px; /* Espacio entre botones */
}

/* Estilo para el segundo botón */
.boton.boton2 {
  color: #fff; /* Color del texto */
  background-color: #100733;
  border: 2px solid #1E90FF; /* Borde azul oscuro */
}

/* Efecto al pasar el ratón por encima */
.boton:hover {
  opacity: 0.8; /* Reducción de la opacidad al pasar el ratón */
}
